
<!-- head -->
<%- include('./partials/head') %> 
<!-- head -->
<body class="body-home">
<!-- header -->
  <%- include('./partials/header') %>
<!-- header -->

<!-- main -->
<%- include('./partials/main') %>
<!-- main -->

<!-- footer -->
  <%- include('./partials/footer') %>
<!-- footer -->

<!-- scripts -->
  <%- include('./partials/scripts') %>
<!-- scripts -->
</body>

