<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %> 

  <main class="productos">

    <% productos.forEach(producto => { %>
      <div class="conte">
        <div class="card stromtroper">
          <img src="/images/<%= producto.images %>" alt="">
        </div>
        <div class="informacion">
          <h1><%= producto.title %> </h1>
          <br>
          <p class="fecha"><%= producto.description %> </p>
        </div>
        <div class="precio">
          <div class="mb-3">
            <br>
            <a href="/products/detail/<%= producto.id %>">
            <button class="btn btn-primary" type="submit">Mas Info</button>
          </a>
          </div>
        </div>
      </div>
    <% }) %>


 
  
</main>
    


  

  <%- include('./partials/scripts') %>
</body>

</html>